<!-- Todo Item -->
<tr class="Todo-Item">
    <!-- Todo Item Container -->
    <td class="flex h-min py-2">
      <!-- Todo Title -->
      <td><%= data.title %></td>
      <!-- Todo Due Date -->
      <td><%= data.dueDate %></td>
      <!-- Todo Actions -->
      <td>
        <!-- Todo Checkbox Label (optional) -->
        <label for="<%= `todo-checkbox-${data.id}` %>" class="cursor-pointer hover:bg-purple-200 rounded flex items-center w-96 relative group min-h-8 h-min">
          <!-- Todo Checkbox Input (optional) -->
          <input id="<%= `todo-checkbox-${data.id}` %>" type="checkbox" <%= data.completed ? "checked" : "" %> class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 mx-2" onchange="setTodoStatus(<%= data.id %>)" />
        </label>
  
        <!-- Todo Delete Button -->
        <button onclick="deleteTodo('<%= data.id %>');" class="bg-red-600 text-white p-2 rounded text-sm leading-4 border border-red-500"></button>
      </td>
    </td>
  </tr>
  